[submodule "trippy"]
	path = trippy
	url = git@github.com:wise-east/trippy.git
[submodule "dialoglue"]
	path = dialoglue
	url = git@github.com:wise-east/dialoglue.git
[submodule "ParlAI_CheckDST"]
	path = ParlAI_CheckDST
	url = git@github.com:wise-east/ParlAI_CheckDST.git
